* {
	font-family: "Wix Madefor Display", sans-serif;
}

.avatarWrap {
	position: relative;
}

.infoMargin {
	margin: 30px 30px 0px 30px;
}

.avatarInner {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #C74974;
	border-radius: 50%;
	user-select: none;
}

.inline {
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
	font-size: 24px;
	font-weight: 600;
	vertical-align: middle;
}

.avatarLetters,
.inlineInOut:not(.helper) div {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 30px;
	padding-inline-end: 6px;
	padding-inline-start: 6px;
	padding-block-end: 10px;
	padding-block-start: 10px;
	font-weight: 500;
	letter-spacing: -0.01em;
	min-width: min-content;
}


.inlineInOut div {
	overflow: hidden;
}

#wrap {
	margin: 30px auto;
	width: max-content;
}

div#parserWrap {
	width: max-content;
	background: #FFF;
	position: relative;
}

h1 {
	padding: 30px 30px 0px 30px;
	margin-top: 0;
}

h2 {
	padding: 0px 30px 0px 30px;
	margin-top: 0;
}

body {
	font-family: Arial, sans-serif;
}

.chart-container {
	display: flex;
	align-items: flex-end;
	height: 130px;
	width: calc(100% - 60px);
	padding: 30px;
	margin: auto;
	border-bottom: 1px solid #313a8d44;
	position: relative;
}

.dark .chart-container {
	border-bottom: 1px solid #FFF4
}

#parserWrap {
	border-top: 1px solid #313a8d44;
}

.dark #parserWrap {
	border-top: 1px solid #FFF4
}

.bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	position: relative;
	margin: 0 5px;
}


.inlineInOut {
	display: flex;
	width: calc(100% - 60px);
	height: 30px;
	background: #0001;
	margin: 10px auto;
	border-radius: 4px;
	overflow: hidden;
}

.dark .inlineInOut {
	background: #FFF1;
}

.inlineInOut.helper {
	margin: 0px auto;
	background: none;
}

.inlineInOut.helper div:first-child {
	flex-grow: 1;
}


.incoming,
.outgoing {
	width: 100%;
}

.incoming,
.inlineIn {
	background-color: #80d2ff;
}

.dark .incoming,
.dark .inlineIn {
	background-color: #527b91;
}

.outgoing,
.inlineOut {
	background-color: #c1e17d;
}

.dark .outgoing,
.dark .inlineOut {
	background-color: #778f43;
}

.date {
	font-size: 12px;
	text-align: center;
	margin: 5px;
	font-family: monospace !important;
}

.styles-legend-KpvHE {
	display: flex;
	margin: 0 30px;
}

.styles-legend-KpvHE div:first-child {
	margin-left: auto;
}

.styles-legend-item-oxc3Y {
	display: flex;
	align-items: center;
}

.styles-legend-KpvHE div,
.styles-legend-KpvHE svg {
	margin: 0 3px;
}

.inlineInfo {
	display: flex;
	margin: 30px;
}

.inlineInfoInner {
	margin-right: 30px;
	font-weight: 600;
}

.inlineInfoBlock {
	font-size: 28px;
}

.inlineInfoBottom,
.infoMargin {
	font-weight: 400;
	font-size: 16px;
}

span.minidata {
	font-weight: 400;
	font-size: 18px;
	opacity: .5;
}
.leftMini span.minidata {
	font-size: 14px;
}

.dark div#parserWrap {
	background: #242424;
}

.dark .blackDay {
	color: #FFF
}

.redDay {
	color: #F00
}

.dark .inline {
	color: #FFF !important;
}

.highContrast * {
	color: #000 !important;
}

.highContrast .inlineIn,
.highContrast .incoming {
	background: #000;
}

.highContrast .inlineOut,
.highContrast .outgoing {
	background: #888;
}

.highContrast .date.redDay {
	font-weight: 900;
}

.highContrast .styles-legend-KpvHE div:first-child svg circle {
	fill: #000;
}

.highContrast .styles-legend-KpvHE div:last-child svg circle {
	fill: #888;
}

.highContrast .avatarInner {
	background: #000 !important;
}

.highContrast .avatarLetters {
	color: #FFF !important;
}

.aboutInfo {
	display: flex;
	align-items: center;
}

.aboutInfo>* {
	height: max-content;
}

.aboutInfo svg {
	margin-top: 10px;
	margin-right: auto;
	margin-left: 10px;
}

.buildInfo {
	margin-right: 30px;
	text-align: right;
	font-size: 14px;
}

.intableFlex {
	margin: 10px 30px 10px 30px;
}

span.textLegend {
	color: inherit;
	opacity: .5;
	font-size: 14px;
}

.progress-container {
	width: 100%;
	background-color: #0001;
	border-radius: 5px;
	overflow: hidden;
	height: 10px;
}

.dark .progress-container {
	background-color: #FFF1;
}

.progress-bar {
	height: 100%;
	background: linear-gradient(90deg, #80d2ff 25%, #c1e17d 75%);
	width: 0%;
	transition: width 0.5s ease-in-out;
}

.dark .progress-bar {
	background: linear-gradient(90deg, #527b91 25%, #778f43 75%);
}

table {
    width: calc(100% - 60px);
    margin: 30px;
}

tr td:first-child {
    border-radius: 30px 0 0 30px !important;
}

td {
    font-size: 18px;
    text-align: right;
    padding: 1px 12px 1px 0;
}

td.leftMini {
    text-align: left;
}

td.maxWidthMini {
    min-width: 150px;
}

tr:nth-child(even):not(.red) td {
    background-color: #0014ff10;
}

.EPS {
	background: #ffb580;
}

.dark .EPS {
	background: #815a3f;
}

.avatarMini {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #FFF4;
    border-radius: 50%;
    margin: 0px 8px;
}