@font-face {
    font-family: 'Wix Madefor Display';
    src: url('https://nod365.github.io/starline/TableParser/fonts/WixMadeforDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 800;
    font-style: normal;
}

body {
    margin: 0;
}

*:not(.tableOutput *) {
    transition: .3s background, .3s color, .3s background-color;
}

wrap {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #222;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fakeCur {
    cursor: pointer;
}

leftmenu {
    top: 0;
    left: 0;
    height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
    max-width: 280px;
    z-index: 600;
    background: #f2f4f7CC;
    backdrop-filter: blur(25px);
}

.flexible {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.leftButton {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

leftmenu a {
    text-decoration: none !important;
}

.leftButton:hover,
.buttonSelected,
.buttonLogoSelected {
    background: #00000014;
}

.dark .leftButton:hover,
.dark .buttonSelected,
.dark .buttonLogoSelected {
    background: #ffffff1c;
}

.tableWrap,
.intableFlex div,
leftmenu {
    border: 1px solid #313a8d44;
    box-shadow: 0 0 20px 5px #313a8d0a;
}

.dark .tableWrap,
.dark .intableFlex div,
.dark leftmenu {
    border: 1px solid #FFF4;
    box-shadow: 0 0 20px 0 #24242445;
}

.blinkOnce {
    animation-duration: 1.5s;
    animation-name: hey;
    animation-iteration-count: 3;
}

@keyframes hey {
    0% {
        background: #F50
    }

    100% {
        background: TRANSPARENT
    }

}

.intableFlex {
    display: flex;
    margin: 35px 30px 0px 30px;
    position: sticky;
    top: 0;
    z-index: 500;
}

.intableFlex div:first-child {
    flex-grow: 1;
}

.intableFlex div {
    border-radius: 50px;
    margin: 20px 5px;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    transition: border .3s, background .3s;
}

.intableFlex div.intableButton {
    cursor: pointer;
    user-select: none;
}

.intableFlex div.intableButton:hover {
    animation-duration: 0s;
    border: 1px solid #313a8d;
    background: #313a8d11;
}

.dark .intableFlex div.intableButton:hover {
    animation-duration: 0s;
    border: 1px solid #FFF;
    background: #FFF2;
}

/*
.intableFlex div.intableButton:active, .dark .intableFlex div.intableButton:active {
animation-duration: 0s;
border: 1px solid #676767;
background: #67676712;
}
*/

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotating {
    transform-origin: 10px 12px;
    animation: rotate .9s linear infinite;
}

.leftButton::after {
    left: 0;
    content: "";
    position: absolute;
    background: #0078D7;
    transform: translate3d(-200%, 0, 0);
    width: 3px;
    height: 10px;
    transition: all 0.4s;
    border-radius: 8px;
}

.dark .leftButton::after {
    background: #60CDFF;
}

.buttonSelected::after,
.buttonLogoSelected::after {
    height: 20px;
    transition: height 0.1s;
    transform: translate3d(0, 0, 0);
}

.leftButton.Logo {
    cursor: default !important;
}

.goodColor {
    color: #2C8B2C;
}

.dark .goodColor {
    color: #16c60c;
}

.badColor {
    color: #C50500;
}

.dark .badColor {
    color: #f03a17;
}

leftmenu h1 {
    margin: 0;
    cursor: default;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 0 8px 20px;
    user-select: none;
}

emoji {
    margin-right: 10px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.app-hr {
    width: calc(100% - 20px);
    height: 1px;
    background: #1900d736;
    margin: 5px 10px;
}

.dark .app-hr {
    background: #FFFFFF36;
}

container {
    height: auto;
    flex: 1 1 auto;
    width: -moz-available;
    width: -webkit-fill-available;
    transition: 0.2s ease;
    padding: 0;
}

* {
    font-family: "Wix Madefor Display", sans-serif;
    color: #313a8d;
}

.dark * {
    color: #FFF;
}

*:not(b) {
    font-weight: 500;
}

.supportButton {
    display: inline;
    box-shadow: 0 0 0 1px;
    padding: 8px;
    border-radius: 50px;
    margin: 5px;
    white-space: nowrap;
    line-height: 3;
    user-select: none;
}

.placeholder_rings {
    margin: 50px;
    color: var(--color-text-default);
}

.errorInfo {
    margin: 35px 35px 0px 35px;
}

.errorInfo div {
    padding: 5px 0;
}

tr.tableErrorInfo div {
    text-align: left;
    font-size: 14px;
}

.tableErrorInfo td {
    padding-top: 15px;
    display: none;
}

tr.tableCopyrightInfo div {
    text-align: right;
    font-size: 14px;
    max-width: 800px;
    margin-left: auto;
}

.tableCopyrightInfo td {
    padding-top: 0px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    padding: 1px 10px;
    font-size: 20px;
    text-align: center;
}

tr:not(.ultraborder):not(.aboutWrap) td {
    height: 30px;
}

th span {
    font-weight: 550 !important;
    vertical-align: middle;
}

th span.thName {
    padding: 0 8px;
}

thead tr {
    background: transparent !important;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.minitext {
    font-size: 14px;
}

.semiWhite {
    color: #FFFC;
}

.opacitytext {
    opacity: 0.7;
}

.semicolortext,
.semicolortext * {
    color: #00059f6b;
}

.dark .semicolortext,
.dark .semicolortext *,
.dark .about {
    color: #ffffff6b;
}

.tableOutput {
    width: max-content;
    height: max-content;
    padding: 35px;
    background: #FFF;
}

render {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow: auto;
    z-index: 700;
    opacity: .4;
    pointer-events: none;
}

.scrollHere {
    height: 0px;
    margin: -1px;
}

.tableWrap {
    width: max-content;
    height: max-content;
    margin: 0px auto;
    background: #FFF;
}

.tableWrap.firstInListing {
    margin-top: 50px;
    border-radius: 30px 30px 0px 0px;
}

.tableWrap.lastInListing {
    padding-bottom: 30px;
    border-radius: 0px 0px 30px 30px;
}

.tableWrap.oneInListing {
    margin-top: 50px;
    padding-bottom: 30px;
    border-radius: 30px;
}

.dark .tableWrap,
.dark .tableOutput {
    background: #242424;
}

.dark leftmenu {
    background: #1c1c1ccc;
}

leftmenu,
.dark leftmenu {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

tr.ultraborder {
    opacity: 0;
}

tr.aboutWrap {
    background: linear-gradient(90deg, rgba(89, 193, 71, 0.2) 0%, rgba(236, 75, 37, 0.1) 12%, rgba(249, 209, 30, 0.2) 24%, rgba(0, 26, 255, 0.08) 36%);
    border-radius: 30px;
}

.dark tr.aboutWrap {
    background: linear-gradient(90deg, #59c1474a 0%, #ec4b2547 12%, #f9d11e3d 24%, #ffffff11 36%);
}

tr.aboutWrap div {
    margin: 4px 0px;
}

tr.aboutWrap td {
    background: #ffffff00 !important;
}

tr.aboutWrap.dangerWrap {
    background: #F00;
}

tr.aboutWrap.dangerWrap * {
    color: #FFF !important;
}

.aboutWrap td:first-child {
    border-radius: 30px 0 0 30px !important;
}

tr td:last-child {
    border-radius: 0 30px 30px 0 !important;
}

.about {
    color: #313a8d75;
}

.about.aico {
    color: #4316006b;
}

.dark .about.aico,
.dark .about.aico b {
    color: #ffd400;
}

.about.aico b {
    color: #75370075;
}

.about.r {
    text-align: right;
}

.about.aico:before {
    content: "";
    height: 10px;
    width: 10px;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAoHBwgHBgoICAgLCgoLDhgQDg0NDh0VFhEYIx8lJCIfIiEmKzcvJik0KSEiMEExNDk7Pj4+JS5ESUM8SDc9Pjv/2wBDAQoLCw4NDhwQEBw7KCIoOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozv/wAARCAAPAA8DASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAABQb/xAAfEAAABQQDAAAAAAAAAAAAAAAAAQQTIQIFERIUMWH/xAAVAQEBAAAAAAAAAAAAAAAAAAAFBv/EABwRAAEDBQAAAAAAAAAAAAAAAAEAAgQDBRESFP/aAAwDAQACEQMRAD8AftSpqjsOJ1zkZEZyWE5VeBK0rtyzMiPl0NgXJW3RTxtfhf/Z);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.about.aico.insico:before {
    background-image: url(../images/dev.png)
}

tr:nth-child(even):not(.red) td {
    background-color: #0014ff11;
}

.dark tr:nth-child(even):not(.red) td {
    background-color: #ffffff11;
}

tr.warning:nth-child(even):not(.red) td:not(.gradientLeft) {
    background-color: #fec8012e;
}

tr.warning:nth-child(odd):not(.red) td:not(.gradientLeft) {
    background-color: #fec80111;
}

tr.okay:nth-child(even):not(.red) td:not(.gradientLeft) {
    background-color: #0ee6942e;
}

tr.okay:nth-child(odd):not(.red) td:not(.gradientLeft) {
    background-color: #0ee69411;
}

tr.semired:nth-child(even):not(.red) td:not(.gradientLeft) {
    background-color: #ff2f2f2e;
}

tr.semired:nth-child(odd):not(.red) td:not(.gradientLeft) {
    background-color: #ff2f2f11;
}

tr:nth-child(even):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #0014ff00 0%, #0014ff11 100%);
}

.dark tr:nth-child(even):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #ffffff00 0%, #ffffff11 100%);
}

tr.warning:nth-child(even):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #fec80100 0%, #fec8012e 100%);
}

tr.warning:nth-child(odd):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #fec80100 0%, #fec80111 100%);
}

tr.okay:nth-child(even):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #0ee69400 0%, #0ee6942e 100%);
}

tr.okay:nth-child(odd):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #0ee69400 0%, #0ee69411 100%);
}

tr.semired:nth-child(even):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #ff2f2f00 0%, #ff2f2f2e 100%);
}

tr.semired:nth-child(odd):not(.red) .gradientLeft {
    background: linear-gradient(90deg, #ff2f2f00 0%, #ff2f2f11 100%);
}

.gradientLeft {
    padding-right: 0px;
    padding-left: 25px;
}

td.left.forceWhite {
    background: transparent !important;
    padding-left: 1px;
}


.forceWhite span.minitext {
    white-space: nowrap;
}

/*
td.left.forceWhite:not(.hideUndrln) {
    border-bottom: 1px solid #313a8d44;
}

.dark td.left.forceWhite:not(.hideUndrln) {
    border-bottom: 1px solid #FFF4;
}

.hideUndrln {
    border-bottom: 1px solid #fff0;
}
*/

tr.ultraborder.colorborder td {
    background: linear-gradient(90deg, rgba(49, 58, 141, 0) 0%, rgba(49, 58, 141, 0.44) 20%, rgba(49, 58, 141, 0.44) 80%, rgba(49, 58, 141, 0) 100%);
    padding: 1px 0 0 0;
    height: 0px;
}

.dark tr.ultraborder.colorborder td {
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 20%) 20%, rgb(255 255 255 / 20%) 80%, rgb(255 255 255 / 0%) 100%);
}

tr.ultraborder.colorborder {
    opacity: 1;
}

.desIcon {
    background-size: 100%;
    height: 23px;
    width: 23px;
    display: inline-block;
    margin: -3px 0;
}

.GR .desIcon {
    width: 17px;
    height: 17px;
    margin-bottom: -4px;
}

.parkid {
    background-image: url(../images/park.png);
}

.otchet .desIcon {
    background-image: url(../images/otchet.png)
}

.red .otchet .desIcon,
.semired .otchet .desIcon {
    background-image: url(../images/red_otchet.png)
}

.adminFace .desIcon {
    background-image: url(../images/adminFace.png)
}

.red .adminFace .desIcon,
.semired .adminFace .desIcon {
    background-image: url(../images/red_adminFace.png)
}

.undefinedType .desIcon {
    background-image: url(../images/park.png)
}

.red .undefinedType .desIcon,
.semired .undefinedType .desIcon {
    background-image: url(../images/red_adminFace.png)
}

.disp .desIcon {
    background-image: url(../images/dispatcher.png)
}

.red .disp .desIcon,
.semired .disp .desIcon {
    background-image: url(../images/red_dispatcher.png)
}

.oform .desIcon {
    background-image: url(../images/oform.png)
}

.red .oform .desIcon,
.semired .oform .desIcon {
    background-image: url(../images/red_oform.png)
}

.wrench .desIcon {
    background-image: url(../images/wrench.png)
}

.red .wrench .desIcon,
.semired .wrench .desIcon {
    background-image: url(../images/red_wrench.png)
}

.handshake .desIcon {
    background-image: url(../images/handshake.png)
}

.red .handshake .desIcon,
.semired .handshake .desIcon {
    background-image: url(../images/red_handshake.png)
}


th.GR {
    color: var(--color-text-default);
    position: relative;
    background: linear-gradient(90deg, rgba(235, 237, 255, 1) 70%, rgba(241, 201, 236, 1)100%);
    /*border-radius: 25px 0px 0px 25px;*/
    padding-left: 20px;
}

.dark th.left.GR {
    background: linear-gradient(90deg, rgb(62 62 62) 70%, rgb(90 64 87) 100%);
}

th.color0 {
    background: linear-gradient(90deg, rgb(255 0 151) 0%, rgb(253 2 255) 100%);
    box-shadow: 0 0 25px 0px #fe01cd8c;
    color: #FFF;
}

th.color1 {
    background: linear-gradient(90deg, rgba(202, 2, 255, 1) 0%, rgba(153, 30, 255, 1) 50%, rgba(153, 126, 255, 1) 100%);
    box-shadow: 0 0 25px 0px #9924ff9e;
    color: #FFF;
}

th.color2 {
    color: #FFF;
    background: linear-gradient(90deg, #1dc8c6 0%, #00ff66 100%);
    color: #FFF;
    /*border-radius: 0px 25px 25px 0px;*/
    padding-right: 25px;
    box-shadow: 0 0 25px 0px #0aec8761;
    padding-right: 10px;
}

.color0,
.color1,
.color2 {
    min-width: 130px;
}

.callIcon {
    background-size: 100%;
    height: 26px;
    width: 26px;
    margin-top: 2px;
    display: inline-block;
}

.color0 .callIcon {
    background-image: url(../svg/call_missed.svg);
}

.color1 .callIcon {
    background-image: url(../svg/call_incoming.svg);
}

.color2 .callIcon {
    background-image: url(../svg/call_outcoming.svg);
}

th {
    padding: 13px 10px;
    font-weight: 600 !important;
}

.info0 .needColor {
    color: #ff01a7;
}

.okay .info0 .needColor,
.okay *:not(.forceWhite *):not(.forceWhite) {
    color: #00bf8a;
}

.info1 .needColor {
    color: #9923ff;
}

.info2 .needColor {
    color: #00bf8a;
}

.noPaddingLeft {
    padding-left: 0;
}

.noPaddingRight {
    padding-right: 5px;
}

tr.red {
    background: linear-gradient(90deg, #ff000000 30%, #ff003b40 80%, #ff31004a 100%) !important;
    border-radius: 30px;
    position: relative;
}

tr:nth-child(even).red {
    background: linear-gradient(90deg, #ff000000 30%, #ff251a52 80%, #ff005c57 100%) !important;
    border-radius: 30px;
}

.red *:not(.forceWhite):not(.forceWhite *) {
    color: #F00 !important;
}

.red td.noPaddingLeft.left.info2,
.semired td.noPaddingLeft.left.info2,
.okay td.noPaddingLeft.left.info2,
.warning td.noPaddingLeft.left.info2 {
    background-image: url(../svg/red_warning.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.red .info0 .opacitytext,
.semired .info0 .opacitytext {
    color: #F00;
    font-weight: 700;
}

.semired .gradientLeft {
    color: #F00;
}

.warning .info0 .opacitytext,
.warning .gradientLeft {
    color: #ff5f01;
}

.warning .info0 .opacitytext {
    font-weight: 700;
}

.okay .info0 .opacitytext {
    color: #00bf8a;
    font-weight: 700;
}

.okay td.noPaddingLeft.left.info2 {
    background-image: url(../svg/well_done.svg)
}

.warning td.noPaddingLeft.left.info2 {
    background-image: url(../svg/warning.svg)
}

.left.info2 {
    padding-right: 40px
}

div#startpage h2 {
    margin: 0;
}

.serverUpdatesInfo {
    width: max-content;
    margin: 40px auto;
}

::-webkit-scrollbar {
    inline-size: 15px;
    background-color: transparent
}

::-webkit-scrollbar:vertical {
    --scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 16.9814C5.0281 16.9814 4.45412 15.7165 5.16132 14.9083L10.6831 8.59765C11.3804 7.80083 12.6199 7.80083 13.3172 8.59765L18.839 14.9083C19.5462 15.7165 18.9722 16.9814 17.8983 16.9814H6.10204Z' fill='%23888888dd'/%3E%3C/svg%3E");
    --scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 8C5.0281 8 4.45412 9.2649 5.16132 10.0731L10.6831 16.3838C11.3804 17.1806 12.6199 17.1806 13.3172 16.3838L18.839 10.0731C19.5462 9.2649 18.9722 8 17.8983 8H6.10204Z' fill='%23888888dd'/%3E%3C/svg%3E")
}

::-webkit-scrollbar:horizontal {
    --scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.8983C9 18.9722 10.2649 19.5462 11.0731 18.839L17.3838 13.3172C18.1806 12.6199 18.1806 11.3804 17.3838 10.6831L11.0731 5.16132C10.2649 4.45412 9 5.02809 9 6.10204V17.8983Z' fill='%23888888dd'/%3E%3C/svg%3E");
    --scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.8983C15 18.9722 13.7351 19.5462 12.9268 18.839L6.61617 13.3172C5.81935 12.6199 5.81935 11.3804 6.61617 10.6831L12.9268 5.16132C13.7351 4.45412 15 5.02809 15 6.10204L15 17.8983Z' fill='%23888888dd'/%3E%3C/svg%3E")
}

::-webkit-scrollbar:hover {
    background: var(--scrollbar-caret-bottom) bottom center/contain no-repeat, var(--scrollbar-caret-top) top center/contain no-repeat, transparent
}

::-webkit-scrollbar:horizontal:hover {
    background: var(--scrollbar-caret-bottom) left center/contain no-repeat, var(--scrollbar-caret-top) right center/contain no-repeat, transparent
}

::-webkit-scrollbar-thumb {
    border-block: none;
    border-radius: 7px;
    background: rgba(119, 119, 119, 0.866667);
    background-clip: padding-box;
    border: 6px solid transparent
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 14px;
    border: 4px solid transparent;
    background-color: rgba(119, 119, 119, 0.933333)
}

::-webkit-scrollbar-button:single-button {
    display: block;
    block-size: 14px
}

leftmenu .flexible::-webkit-scrollbar-thumb {
    background-color: #99999966;
}

leftmenu .flexible::-webkit-scrollbar-thumb:hover {
    background-color: #999999dd
}

.parent {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.parent * {
    color: #00013d !important;
}

.dark .parent * {
    color: #FFF !important;
}

.child {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0px 0px 6px #FFF8);
}

.dark .child {
    filter: drop-shadow(0px 0px 6px #0006);
}

container {
    background: #FFF8;
}

.dark container {
    background: #0008;
}

.issueInfo {
    margin: 20px;
}

.animeCounter {
    width: max-content;
    margin: auto;
}

.animeCounter img {
    image-rendering: pixelated;
}